<div class="container room">
<h2>Book a room!</h2>
	<%= form_tag(controller: "member", action: "book_submit", method: "post", class: "form-group") do %>
		<%= date_field(:booking, :day, class: "form-control") %>
		<%= time_field(:booking, :start, class: "form-control") %>
		<%= time_field(:booking, :end, class: "form-control") %>
		<%= select_tag(:room_id, options_for_select(@available_rooms), class: "form-control") %>

		<%= submit_tag "Book", class: "btn btn-default" %>
	<% end %>
</div>


