<div class="container">
	<%= form_tag(controller: "member", action: "book_submit", method: "post", class: "form-group") do %>
		<%= date_field(:booking, :day) %> <!-- should it be :booking or :member?? -->
		<%= time_field(:start, :end) %>
		<%= telephone_field(:member, :phone, placeholder: 'Telephone number') %>
		<%= select_tag(:room_id, options_for_select(@available_rooms)) %>

		<%= submit_tag("Book") %>
	<% end %>
</div><br><br>

<div class="container">
	<%= form_tag(controller: "booking", action: "find_booking", method: "post", class: "form-group") do %>
		<%= number_field(:booking, :bookingID, placeholder: 'Booking ID number') %>
		<%= submit_tag("Retrieve booking") %>
	<% end %>
</div>

<div class="container">
	<%= form_tag(controller: "booking", action: "edit_booking", method: "post", class: "form-group") do %>
		<%= number_field(:booking, :bookingID, placeholder: 'Booking ID number') %>
		<%= date_field(:booking, :day) %> <!-- should it be :booking or :member?? -->
		<%= time_field(:start, :end) %>
		<%= select_tag(:room_id, options_for_select(@available_rooms)) %>
		<%= submit_tag("Edit booking") %>
	<% end %>
</div>


<div class="container">
	<%= form_tag(controller: "member", action: "rooms_booked_by", method: "post", class: "form-group") do %>
		<%= number_field(:member, :memberID, placeholder: 'member ID number') %>
		<%= submit_tag("Retrieve bookings by memberID") %>
	<% end %>
</div>



