
<div class="container">
	<%= form_tag(controller: "employee",  action: "find_transaction", method: "get", class: "form-group") do %>
		<%= number_field(:transaction, :id, placeholder:'Transaction ID') %>

		<%= submit_tag("Get Transaction By ID") %>
	<% end %><br>

	<%= form_tag(controller: "employee",  action: "find_by_refId", method: "get", class: "form-group") do %>
		<%= number_field(:transaction, :refId, placeholder:'Transaction reference ID') %>

		<%= submit_tag("Get Transaction By Reference ID") %>
	<% end %><br>

	<%= form_tag(controller: "employee",  action: "create_transaction", method: "post", class: "form-group") do %>
		<%= number_field(:transaction, :refId, placeholder:'Transaction reference ID') %>
		<%= select_tag(:pay_type, options_for_select([["Cash", 0], ["Debit", 1], ["Credit", 2]])) %>
		<%= number_field(:transaction, :total, placeholder: 'Total') %>
		<%= datetime_field(:transaction, :time) %>
		<%= number_field(:employee, :id, placeholder: 'Employee ID') %>

		<%= submit_tag("Submit Transaction") %>
	<% end %><br>

	<%= form_tag(controller: "employee",  action: "edit_transaction", method: "post", class: "form-group") do %>
		<%= number_field(:transaction, :id, placeholder: 'Transaction ID') %>
		<%= number_field(:transaction, :refId, placeholder:'Transaction reference ID') %>
		<%= select_tag(:pay_type, options_for_select([["Cash", 0], ["Debit", 1], ["Credit", 2]])) %>
		<%= number_field(:transaction, :total, placeholder: 'Total') %>
		<%= datetime_field(:transaction, :time) %>
		<%= number_field(:employee, :id, placeholder: 'Employee ID') %>

		<%= submit_tag("Update Transaction") %>
	<% end %><br>

	<%= form_tag(controller: "employee",  action: "destroy_transaction", method: "post", class: "form-group") do %>
		<%= number_field(:transaction, :id, placeholder: 'Transaction ID') %>

		<%= submit_tag("Delete Transaction") %>
	<% end %><br>

	<% if @isManager %>
			<%= form_tag(controller: "employee",  action: "find_item", method: "get", class: "form-group") do %>
				<%= number_field(:item, :id, placeholder: 'Transaction ID') %>

				<%= submit_tag("Get Item") %>
			<% end %><br>
			
			<%= form_tag(controller: "employee",  action: "create_item", method: "post", class: "form-group") do %>
				<%= text_field(:item, :name, placeholder: 'Item name') %>
				<%= number_field(:item, :price, placeholder: 'Item price') %>

				<%= submit_tag("Create Item") %>
			<% end %><br>

			<%= form_tag(controller: "employee",  action: "edit_item", method: "post", class: "form-group") do %>
				<%= number_field(:item, :id, placeholder: 'Item ID') %>
				<%= text_field(:item, :name, placeholder: 'Item name') %>
				<%= number_field(:item, :price, placeholder: 'Item price') %>

				<%= submit_tag("Edit Item") %>
			<% end %><br>

			<%= form_tag(controller: "employee",  action: "destroy_item", method: "post", class: "form-group") do %>
				<%= number_field(:item, :id, placeholder: 'Item ID') %>
				<%= submit_tag("Delete Item") %>
			<% end %><br>
	<% end %>
</div>