<div class="container">
	<h2>Login</h2>
	<%= form_tag(controller: "login",  action: "login_submit", method: "post", class: "form-group") do %>
		<%= email_field(:user, :email, placeholder:'Email') %>
		<%= password_field(:user, :password, placeholder:'Password') %> 

		<%= submit_tag("Login") %>
	<% end %>
</div>

<div>
	<h2>Employee Login</h2>
	<%= form_tag(controller: "login",  action: "employee_login_submit", method: "post", class: "form-group") do %>
		<%= number_field(:employee, :id, placeholder:'Employee ID') %>
		<%= password_field(:employee, :password, placeholder:'Password') %> 

		<%= submit_tag("Login") %>
	<% end %>
</div>